body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: aquamarine;
}

.toolbar {
    height: 40px;
    background-color: rosybrown;
}

.content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: darkred;
}
.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 50%;
}

.container-right {
    background-color: blue;
    width: 50%;
}

.antenna-area {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-image: url("/img/antenna.png"); /* Assurez-vous que le chemin de l'image est correct */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: visible; /* Allow the pulse to expand beyond the boundaries */
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    margin-right: 10px;
}

.controls input,
.controls select {
    margin-right: 20px;
}

#frequencyChart {
    width: 100%;
    height: 400px;
}