:root {
    --input-selectable-color: #86868b;
    --input-selected-color: #007AFF;
    --button-color: #E5EBF1;
    --button-color-hover: #C9D8E8;
    --label-button-color: #E0EFFF;
    --button-success-color: #34C759;

    --short-transition-duration: 70ms;
    --long-transition-duration: 120ms;
}

body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

input, button {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid var(--input-selectable-color);
    font-size: 1em;
}

button {
    background-color: var(--button-color);
    cursor: pointer;
    font-family: sans-serif;
    color: black;
    transition: background-color var(--short-transition-duration) ease;
}

button:hover {
    background-color: var(--button-color-hover);
}

input:focus {
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 120px;
    height: 6px;
    background: #B9C4CDFF;
    border-radius: 5px;
    padding: 0;
    border: none;
}


input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: #4E4f55 0 0 18px -4px;
}


.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.counter .counter-decrease {
    border-right: none;
    border-radius: 6px 0 0 6px;
}

.counter input {
    position: relative;
    width: 3ch;
    text-align: center;
    border-radius: 0;
    z-index: 1;
}

.counter .counter-increase {
    border-left: none;
    border-radius: 0 6px 6px 0;
}

.speed-slider output {
display: inline-block;
    width: 3ch;

}





.content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.antenna-area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.antenna {
    width: 60px;
    height: 60px;
    background-image: url("/img/antenna.png");
    background-size: cover;
}

.pulse {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgba(0, 210, 255, 0.25);
    z-index: -1;
    animation: pulse 1s infinite;
}

.pulse-1 {
    animation-delay: 0s;
}

.pulse-2 {
    animation-delay: -.2s;
}

#phones-container {
    position: absolute;
    height: 70%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: scale(.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.phone {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("/img/phone.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    font-size: 13px;
    font-weight: bold;
    font-family: monospace;
}

#graph {
    width: 100%;
    height: 400px;
}
