:root {
    --input-color: #86868b;
    --button-color: #E5EBF1;
    --button-color-hover: #C9D8E8;
    --transition-duration: 70ms;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 25px;
    width: 100vw;
    height: 100vh;
    color: black;
    flex-direction: column;
}

input, button {
    border: 1px solid var(--input-color);
    padding: 6px 12px;
    font-size: 1em;
    border-radius: 6px;
    transition: background-color var(--transition-duration) ease;
}

input:focus {
    outline: none;
}

button {
    background-color: var(--button-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-color-hover);
}

input[type="range"] {
    border: none;
    background: #B9C4CDFF;
    padding: 0;
    width: 120px;
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    background: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    box-shadow: #4E4F55 0 0 18px -4px;
}

.toolbar, .toolbar-item, .counter, .speed-slider {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.toolbar {
    gap: 40px;
}

.toolbar label, #speed-output {
    font-family: monospace;
    font-size: 1.2em;
}

.counter {
    gap: 0;
}

.counter input {
    z-index: 1;
    width: 6ch;
    height: auto;
    text-align: center;
    border-radius: 0;
}

.counter .counter-decrease {
    border-right: none;
    border-radius: 6px 0 0 6px;
}

.counter .counter-increase {
    border-left: none;
    border-radius: 0 6px 6px 0;
}

#speed-output {
    width: 3ch;
    height: auto;
}

#play-button {
    display: flex;
    width: 10ch;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: row;
}

#play-button svg {
    width: 1em;
    height: 1em;
}

#pause-icon, #play-button.playing #play-icon {
    display: none;
}

#play-button.playing #pause-icon {
    display: inline;
}

.content {
    display: flex;
    padding: 50px 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.container-left, .container-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-left {
    width: 30%;
}

.container-right {
    width: 70%;
}

.antenna-area {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    aspect-ratio: 1;
    justify-content: center;
}

.antenna, .phone {
    width: 60px;
    height: 60px;
    background-size: contain;
}

.antenna {
    background-image: url("./img/antenna.png");
}

.phone {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("./img/phone.png");
    text-align: center;
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.pulse {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.animating {
    background: rgba(0, 210, 255, 0.25);
    animation: pulse 1s infinite;
}

.pulse-1 {
    animation-delay: 0s;
}

.pulse-2 {
    animation-delay: -0.2s;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(.1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

#phones-container {
    display: flex;
    position: absolute;
    width: auto;
    height: 80%;
    align-items: center;
    aspect-ratio: 1;
    justify-content: center;
}

#graph {
    width: 100%;
    height: 400px;
}

footer {
    display: flex;
    justify-content: center;
}

footer > a {
    display: flex;
    color: #7E7E7E;
    text-decoration: none;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    transition: color calc(2 * var(--transition-duration)) ease;
}

footer > a:hover {
    color: currentColor;
}

footer svg {
    width: auto;
    height: 1.4em;
}

footer p {
    font-size: 0.9em;
}
