.antenna-area {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/antenna.png"); /* Assurez-vous que le chemin de l'image est correct */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: visible; /* Allow the pulse to expand beyond the boundaries */
}

.pulse {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: rgba(0, 210, 255, 0.25);
    z-index: -1;
    animation: pulse 2s infinite;
}

.pulse-1 {
    animation-delay: 0s;
}

.pulse-2 {
    animation-delay: 1.7s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}
