.div_graph {
    position: absolute;
    width: auto;
    top: 0;
    left: 85%;
    z-index: -1;
}

.table_graph {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;

    table-layout: fixed;
}

.th_graph,
.td_graph {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.div_phone {
    width: 60px;
    height: 60px;

    justify-content: center;
    align-items: center;
}
