.phone-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}

.phone {
    width: 50px;
    height: 50px;
    background-image: url("../assets/phone.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 3px solid white;
    user-select: none;
    font-size: 13px;
    font-weight: bold;
    font-family: monospace;
    position: absolute;
}