.toolbar {
    width: fit-content;
    height: 80vh;

    display: flex;
    justify-content: center;
    padding: 10px;

    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
}